@import "tailwindcss";



:root {
    font-family: var(--font-vazir), sans-serif;
}

@keyframes overlayShow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes overlayHide {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes contentShow {
  from { 
    opacity: 0; 
    transform: translate(-50%, -50%) scale(0.95) translateY(10px); 
  }
  to { 
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1) translateY(0); 
  }
}

@keyframes contentHide {
  from { 
    opacity: 1; 
    transform: translate(-50%, -50%) scale(1) translateY(0); 
  }
  to { 
    opacity: 0; 
    transform: translate(-50%, -50%) scale(0.95) translateY(10px); 
  }
}